@import "index.css";

.news-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}

.news-body>*{
    flex: 1 1 1;
}

.card-main-container{
    width: 300px;
    height: 200px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--card-background);
    box-shadow: 5px 5px 8px var(--shadow);
    border-radius: 6px;
    margin: 0px 24px 24px 0px;
}

.card-top{
margin-bottom: 12px;
}

.card-title{
margin-bottom: 10px;
}

.card-author {
    font-weight: 400;
}


.news-card-footer {
    padding: 12px 0px;
    display: flex;

}

.news-card-footer-element {
    padding-right: 12px;
}

.read-more-section {
    padding: 16px 0px;
    display: flex;
    text-align: right;
    justify-content: flex-end;
}

.read-more-text {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: var(--primary-text);
}

