:root {
  --primary: rgb(7, 80, 110);
  --primary-text: #444;
  --secondary-text: #666;
  --shadow: #d3d3d3;
  --white: #fff;
  --card-background: #fafafa;

}

body {
  margin: 0;

    font-family: 'Roboto', 'Georgia', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, h6, p{
  margin: 0px;
}

h1{
 font-size: 2em;
}

h2{
  font-size: 1.5em;
}

h3{
  font-size: 1.25em;
}

p{
  font-size: 1em;
}
