:root {
  --primary-text: #444;
  --secondary-text: #666;
  --shadow: #d3d3d3;
  --white: #fff;
  --card-background: #fafafa;
  --link-text: #43009f;
  --link-text-hover: #7014f2;

}

body {
 
  font-family: 'Roboto', 'Georgia', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:lavender;
  margin: 0;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, h6, p{
  margin: 0px;
  
}

h1{
 font-size: 3.1em;
color: black;

}

h2{
  font-size: 1.5em;
  
}

h3{
  font-size: 1em;
  color: #808080;
}

p{
  font-size: 1em;
}

/* news body */
.news-body{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid  gainsboro;
  opacity: 96%;
  padding-top: 32px;
}
.nav-bar{
  display: flex;
  justify-content:space-between;
  background-color: var(--card-background);
  padding: 12px 32px;
}
input[type="search"] {

  border: none;
  background: transparent;
  margin: 12px;
  padding: 7px 8px;
  font-size: 15px;
  color: inherit;
  border: 1px solid black;
  border-radius: inherit;
  background-color: var(--card-background);
 

}

.button {
  text-indent: -999px;
  overflow: hidden;
  width: 40px;
  height: 34px;
  padding: 0;
  margin: 0;
  border: 1px solid black;
  border-radius: 10%;
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
  cursor: pointer;
  opacity: 0.7;
  background-color: var(--card-background);
  cursor: pointer;
}

button:hover {
  opacity: 1;
}

.open-source{
 text-align: center;
 cursor: pointer;
 margin-bottom: 32px;
}

a{
  color: var(--link-text);
  font-weight: bold;
  font-weight: 600;
}

a:active{
  color:var(--link-text-hover);
}

a:hover {
  color: var(--link-text-hover);
}

@media only screen and (max-width: 480px) {
  .nav-bar{
    display: block;
    padding: 12px;
    font-size: 18px;
    width: auto;
  }
}
